Script_Writer_Video_Generation.json
{
  "name": "Script Writer+Video Generation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        -120
      ],
      "id": "f53785a2-a010-49fc-961a-aee30d60618d",
      "name": "When chat message received",
      "webhookId": "90bebf52-bc02-4718-a019-3cbfdacff226"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -280,
        60
      ],
      "id": "11fe0f42-744b-4045-ae49-5f57ff57d15e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gYaHfpTCpUR7SBsY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        160
      ],
      "id": "4f7b7df7-c5e9-4135-8635-4d590eac19b1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iWlBUPZsobAy87Rw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an expert outline writer. Your job is to generate a structured outline for a youtube video with section, titles and key points and interesting facts."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -220,
        -120
      ],
      "id": "e5a2bba9-6b01-411a-b338-cd3680cd3739",
      "name": "Outline Writer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the outline:-\n\n {{ $json.output }}",
        "options": {
          "systemMessage": "You are an expert video script evaluator. Revise this outline and ensure it covers the following criteria:\n1. Engaging Introduction\n2. Clear Section breakdown\n3. Logical flow\n4.Conclusion with key takeaways\n\nOnly output the revised outline"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        140,
        -120
      ],
      "id": "0853e660-6bac-4cf1-a3dc-16ce7b80c8ea",
      "name": "Outline Evaluator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You an expert youtube script writer. Use the outline provided to write the script.\n\nPerform the following tasks, in order:\n\n\n1. Create a 1 minute monologue script for an AI avatar video, following these guidelines:\n   - The script should be approximately 1 minute when spoken aloud.\n   - Include lots of details and statistics.\n   - Use 6th grade reading level.\n   - Balanced viewpoint.\n\n2. Update the script's first 2 sentences to use sensational viral hooks that grab the viewer's attention and spark curiosity. The 3rd sentence should start diving into the details and the statistics.\n\n6. Replace the last sentence with: \"Hit follow for more such videos\"\n\n# OUTPUT FORMAT\n\nONLY output the exact video script. Do not output anything else. NEVER include intermediate thoughts, notes, or formatting.\n\nHere is the outline:-\n {{ $json.output }}\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        500,
        -120
      ],
      "id": "805a6c8a-2375-406d-ae95-17b10ff7508b",
      "name": "Script Writer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7e36357-52cf-4c03-b59b-0d661fcc7d4d",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        -120
      ],
      "id": "2faedc88-5399-4247-8e0e-92f2d2710372",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1180,
        280
      ],
      "id": "c7ab20f8-dc98-43d2-ac54-c9109f71ff11",
      "name": "Wait",
      "webhookId": "d9404622-0a06-4a65-959e-badd4fd87465",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"heygen_api_key\": \"\",\n  \"avatar_id\": \"\",\n  \"voice_id\": \"\",\n  \"background_video_url\": \"https://database.blotato.io/storage/v1/object/public/public_media/4ddd33eb-e811-4ab5-93e1-2cd0b7e8fb3f/videogen2-render-e6b398a2-5859-4a77-88ef-2345bcefdc98.mp4\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ],
      "id": "2c848fbb-5af3-4cc6-8d2f-935cedb4bcfb",
      "name": "Setup Heygen"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Create Avatar Video').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Setup Heygen').item.json.heygen_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        280
      ],
      "id": "ba0f1956-36f9-4dab-9e23-06ac4930c227",
      "name": "Get Avatar Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $json.avatar_id }}\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.0,\n        \"offset\": {\n          \"x\": 0.0,\n          \"y\": 0.0\n        },\n        \"matting\": true\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('AI Agent').item.json.output }}\",\n        \"voice_id\": \"{{ $json.voice_id }}\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"video\",\n        \"url\": \"{{ $json.background_video_url }}\",\n        \"play_style\": \"loop\",\n        \"fit\": \"cover\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  },\n  \"aspect_ratio\": \"9:16\",\n  \"caption\": false,\n  \"title\": \"n8n TEST AVATAR\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        280
      ],
      "id": "ab14a53b-8d54-48c6-8bb3-ef5ffcf1248d",
      "name": "Create Avatar Video"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1640,
        280
      ],
      "id": "05dc91df-6b3b-4010-a620-a0fdf65debfe",
      "name": "YouTube"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Outline Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Evaluator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Script Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Outline Writer": {
      "main": [
        [
          {
            "node": "Outline Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Evaluator": {
      "main": [
        [
          {
            "node": "Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Writer": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Heygen": {
      "main": [
        [
          {
            "node": "Create Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Avatar Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avatar Video": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80287f5e-74f0-4cd9-8c5b-9d71151a76f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43ee51bdc926613936c2dbdc02df0f11d571af73326da86c17d184c5864db669"
  },
  "id": "4u4n3FVVUVwxXRFv",
  "tags": []
}